.container {
  padding: 30px;

  .list {
    padding: 0 20px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
  }
  
  .cell {
    padding: 10px 0;
    border-bottom: 1px solid #E1E1E1;
  }
}

